.navigation {
  padding: 15px 304px;
}

.app-logo {
  color: var(--color-black);
  margin: 0;
}

.navigation-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 60px;

  & > *:not(:last-child) {
    margin-right: 30px;
  }

  & > * a,
  & > * a:link,
  & > * a:visited {
    color: var(--color-black);
  }
}

.search {
  margin-left: auto;
}

.search-btn {
  border: none;
  background-color: var(--color-primary);
}

.active {
  a,
  a:link,
  a:visited {
    text-decoration: underline;
  }
}
