<div class="product-rating">
    <span
      [ngClass]="setStarClass(1)"
      nz-icon
      nzType="star"
      nzTheme="fill"
    ></span>
    <span
      [ngClass]="setStarClass(2)"
      nz-icon
      nzType="star"
      nzTheme="fill"
    ></span>
    <span
      [ngClass]="setStarClass(3)"
      nz-icon
      nzType="star"
      nzTheme="fill"
    ></span>
    <span
      [ngClass]="setStarClass(4)"
      nz-icon
      nzType="star"
      nzTheme="fill"
    ></span>
    <span
      [ngClass]="setStarClass(5)"
      nz-icon
      nzType="star"
      nzTheme="fill"
    ></span>
  </div>