<section class="cart">
  <div class="chosen-products">
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
  </div>
  <div class="righthand">
    <div class="cart-total-info">
      <div class="subtotal">
        <label><strong>Subtotal:</strong></label>
        <span>$450.00</span>
      </div>
      <nz-divider></nz-divider>
      <div class="total">
        <label><strong>Total:</strong></label>
        <span>$450.00</span>
      </div>
      <nz-divider></nz-divider>
      <div class="shipping">
        <label>Shipping:</label>
        <span>$450.00</span>
      </div>
      <button nz-button nzSize="large" class="checkout-btn">
        Proceed to checkout
      </button>
    </div>
    <button class="clear-btn" nz-button nzType="text">Clear cart</button>
  </div>
</section>
